/*ours*/

body {
  font-family: 'Francois One', sans-serif;
  color: grey;
}

h2 {
    font-size: 1.75rem;
    position: 90px;
    text-align: left;
    padding-left: 7px;
    margin: 0 0 0 -5%;
} 

h3 {
    font-size: 1.75rem;
    position: 90px;
    text-align: left;
    padding-left: 7px;
    margin: 6% 0 2% -5%;
} 

h4 {
  overflow: hidden;
  height: 30px;
}

h5 {
  color: steelblue;
}

span {
  margin: 5%;
  font-size: 20px;
}

.navbar {
  height: 100px;
}

.nav-item {
  padding: 20px;
  margin: 20px;
}

.navbar-brand {
  width: 4%;
}

.col {
  margin: 0 4% 0 -10%;
  border: 3px solid black;
}

.col-3 {
  border: 1px solid grey;
  height: 100px;
  margin: 2%;
  padding: 0;
  text-align: left;
}

.justify-content-start {
    margin: -1% 0 0 -8%;
}

.explore-image {
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
}

.explore-category {
  border: 3px solid black;
  max-height: 72;
  max-width: 295;
  display: inline;
  padding-right: 52px;
  float: left;
  margin: 7px;
}

.explore-home {
  padding-right: 40px;
}

.experience-image {
  height: 205px;
  width: 290px;
  margin: 0 -20% 0 -20%;
}

.experience-text {
  text-align: left;
  margin: 1%;
}

.body-container {
  position: absolute;
  margin: 10% 5%;
  width: 90%;
}

/*default*/
.App {
  text-align: center;
}

.ResultSingle {
  margin: 0 1% 0 0%;
  width: 300px;
  display: inline-block;  
}

.rowResult {
  margin: 0 -10% 0 -10%;
}

.fivestar {
  width: 100px;
}

.Navbar {
  border-bottom: 1px solid grey;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.loading {
  width: 55%;
}

.loading-container {
  text-align: center;
}